/* Reset de estilos e configurações globais */
* {
    font-family: 'Montserrat';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* Estilos da barra de navegação */
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

#logo img {
    width: 80px;
}

.navlist-item {
    margin: 0 10px;
    padding: 5px;
    text-transform: uppercase;
    color: #FFD700;
    text-decoration: none;
    transition: .5s;
}

.navlist-item:hover {
    background-color: #FFD700;
    color: #fff;
}

#button-nav {
    display: flex;
    gap: 10px;
}

#button-nav button {
    background-color: #fff;
    color: #000;
    padding: 9px 20px;
    display: flex;
    align-items: center;
    border: 1px solid #FFD700;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#button-nav button:hover {
    background-color: #FFD700;
    color: #fff;
    border-color: #fff;
}

/* Estilos do formulário de login/cadastro */
#login-container {
    margin: 50px 0;
    width: 80%;
    height: 720px;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#form-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.form-elements {
    margin-top: 20px;
}

.form-elements input,
.form-elements button {
    width: 80%;
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-elements input {
    background: none;
    border: none;
    border-bottom: 2px solid #616161;
    transition: 1s;
}

.form-elements input:focus {
    border-bottom: 4px solid #4CAF50;
}

.form-elements label {
    text-align: left;
    display: block;
    font-size: 18px;
    margin: 0px 0px;
}

.form-elements button {
    background-color: #FFD700;
    color: #000;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    border-radius: 20px;
}

.form-elements button:hover {
    background-color: #FFC800;
}

#redirect a {
    color: #000;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s;
}

#redirect a:hover {
    color: #6d6d6d;
}

/* Estilos da seção de produtos */
#geral-cards {
    width: 100%;
    height: 100%;
}

.cards {
    margin: 10px;
    width: 20%;
    min-height: 520px;
    max-height: 600px;
    background-color: #f2f2f2;
    overflow: hidden;
    border-radius: 10px;
}

.cards img {
    width: 100%;
    transition: 0.3s;
}

.cards img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Estilos do rodapé */
footer {
    padding: 25px;
    width: 100%;
    color: #fff;
    background-color: #228B22;
    text-align: center;
}
